.bundle
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store

# local dev IDE settings
.vscode/
.idea/

# rbenv virtualenv management file
.ruby-version

# rspec failure tracking
.rspec_status

# rspec test folder
spec/test_directory

Gemfile.lock
.rubocop*
