/.bundle/
/.yardoc
/_yardoc/
/coverage/
.coverage
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store

# local dev IDE settings
.vscode/
.idea/

# virtualenv management
.ruby-version
.python-version

# rspec failure tracking
.rspec_status

# rspec test folder
spec/test_directory*

Gemfile.lock
.rubocop*

# python dependencies local  install
example_files/python_deps/Miniconda*
example_files/python_deps/python_config.json
example_files/python_deps/python
example_files/python_deps/python-3.10
