/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.DS_Store

# local dev IDE settings
.vscode/
.idea/

# virtualenv management
.ruby-version
.python-version

# rspec failure tracking
.rspec_status

# rspec test folder
spec/test_directory
spec/test_directory_res

Gemfile.lock
.rubocop*
